*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1920px;
    width: 100%;
    margin: 30px auto;
    padding: 0 20px;
    background-color: aquamarine;

}

.header-content{
    display: flex;
    justify-content: space-between;
    

}

.form-content{
    display: flex;
    align-items: center;

}

.nav-content{
    display: flex;
    align-items: center;
    

}

.text-line{
    font-size: 14px;
    line-height: 19px;
    color: #FF2288;
    margin-right: 35px;
    text-decoration: none;
    

}

.text-line:hover{
    
   color: #f591bf;
       
    
}
.message-icon{
    position: relative;
    margin-right: 30px;
    
}

.bell-icon{
    position: relative;
    margin-right: 30px;

}

.ball{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #FF2288;
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 322px;
    top:47px
}

.ball2{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #FF2288;
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 269px;
    top:47px
}


.nav-content button{
    background-color: #FF2288;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 17px 36px;
    margin-left: 30px;


}


.nav-content button:hover{
    background-color: #f591bf;
   
}


.input-box{
    width: 446px;
    height: 56px;
    position: relative;
    font-size: 14px;
    line-height: 19px;
    color: #111111;
    opacity: 50%;
    border-radius: 12px;
    padding-left: 20px;


}

.search-icon{
    position: absolute;
    left: 430px;

}





.container-two{
    max-width: 1200px;
    width: 100%;
    margin: 70px auto;
    padding: 0 20px;
    background-color: rgb(130, 172, 158);

}

ul{
    display: flex;
    list-style: none;
    
}

li{
    margin-right: 50px;
    font-size: 16px;
    line-height: 21x;
   
}

.list{
    text-decoration: none;
    color: #222222;
}

.list:hover{
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 16px 18px;
}

.filters-box{
    display: flex;
    align-items: center;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
    width: 132px;
    height: 56px;
    padding: 16px 25px;
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    margin-left: 20px ;

}

.filters-box img{
    margin-right: 15px;
}

.listing-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* pictures and descriptions */



.four-pictures-box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    
    
    

}


.low-4pictures-box{
    display: flex;
    justify-content: space-evenly;

}

.pic-description{
    display: flex;
    flex-direction: column;
    align-items: center;


}


.pic-description img{
    width: 290px;
    box-shadow: 0px 0px 20px #5B5EBA1F;
    
}

.pic-description h3{
    font-size: 18px;
    line-height: 24px; 
    
}


.load-more-button{

    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    border-radius: 12px;
    padding: 16px 100px;
    margin-left: 420px;
    margin-top: 70px;

}

.load-more-button:hover{
    background-color: #D8D8D8;
}

/* top designers section */
.grey-block{
    width: 100%;
    background-color: #FAFAFA;
    height: 500px;
    
}

.designers-list{
    padding-top: 67px;
}


.designers-list h3{
    font-size: 32px;
    line-height: 43px;
    color: #222222;
    
}

.about-designer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
  
    
    
}

.about-designer-box img{
    width: 132px ;
    
}

.about-designer-box h4{
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    margin-top: 15px;

}

.about-designer-box span{
    font-size: 12px;
    line-height: 16px;
    color: #222222;
    opacity: 60%;
    margin-top: 10px;
    margin-bottom: 17px;

}

.follow-button{
    font-size: 14px;
    line-height: 19px;
    width: 132px ;
    border-radius: 12px;
    padding: 12px 33px;
    background-color: #F2F2F2;
    border: 1px solid #D8D8D8;
}

.follow-button:hover{
    background-color: #D8D8D8;

}


.designers-info-wrapper{
    display: flex;
    justify-content: space-between;

}


/* footer */

.footer-list{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}


.footer-list li{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 21px;
    
    
}


.footer-content-first a{
    text-decoration: none;
    color: #222222;

}

.footer-box{
    display: flex;
    justify-content: space-between;
}

.footer-line{
    margin-bottom: 40px;
    margin-top: 40px;
}

.footer-logos{

    display: flex;
    justify-content: space-between;
    margin-top: 130px;

}

.logo{
    margin-right: 20px;
    
}
.footer-logos span{
    font-size: 16px;
    line-height: 40px;
    color: #222222;

}