@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../fonts/AvenirLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Regular.woff2') format('woff2'),
        url('../fonts/Mukta-Regular.woff') format('woff'),
        url('../fonts/Mukta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


