*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
   
    

}

.main-container{
    max-width: 1600px;
    width: 100%;
    margin: 30px auto;
    padding: 0 20px;
    
   
}

.header-content{
    display: flex;
    justify-content: space-between;
    position: relative;

}

.form-content{
    display: flex;
    align-items: center;

}

.nav-content{
    display: flex;
    align-items: center;
    

}

.text-line{
    font-size: 14px;
    line-height: 19px;
    color: #FF2288;
    margin-right: 55px;
    text-decoration: none;
    font-family: 'Avenir LT Std';
    
}

.text-line:hover{
   color: #f591bf;
       
}

.menu-icon{
   width: 40px;
  display: none;
}

.message-icon{
    position: relative;
    right: 60px;
   
}

.message-icon:hover{
   width: 30px;
    
}

.man-icon:hover{
    width: 60px;
}

.bell-icon{
    position: relative;
    right: 30px;

}

.bell-icon:hover{
    width: 30px;
     
 }

.ball{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #FF2288;
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 304px;
    top:17px
}

.ball2{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #FF2288;
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 251px;
    top:16px
}


.nav-content button{
    background-color: #FF2288;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 17px 36px;
    margin-left: 30px;


}


.nav-content button:hover{
    background-color: #f591bf;
   
}


.input-box{
    width: 446px;
    height: 56px;
    position: relative;
    font-size: 14px;
    line-height: 19px;
    color: #111111;
    opacity: 50%;
    border-radius: 12px;
    padding-left: 20px;


}

.search-icon{
    position: absolute;
    left: 400px;
    
}

.container-two{
    max-width: 1100px;
    width: 100%;
    margin: 70px auto;
    padding: 0 20px;

}



ul{
    display: flex;
    list-style: none;
    
}

.list-wrapper li{
    margin-right: 50px;
    font-size: 16px;
    line-height: 21x;
    font-family: 'Avenir LT Std';
    
   
}

.list{
    text-decoration: none;
    color: #222222;
}

.list:hover{
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 16px 18px;
}

.filters-box{
    display: flex;
    align-items: center;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
    width: 132px;
    height: 56px;
    padding: 16px 25px;
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    margin-left: 20px ;
    font-family: 'Mukta';

}

.filters-box img{
    margin-right: 15px;
}



.filters-box:hover{
    background-color: pink;

}
.listing-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* pictures and descriptions */


.four-pictures-box{ 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;

}


.low-4pictures-box{
    display: flex;
    justify-content: space-evenly;
   

}
.hover-icons{
    position: relative;
}

.pic-description{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.pic-description img{
    width: 280px;
    box-shadow: 0px 0px 20px #5B5EBA1F;
   
}

.pic-description img:hover{
    width: 290px;
    box-shadow: 0px 0px 20px #5B5EBA1F;
   
}



.pic-description h3{
    font-size: 18px;
    line-height: 24px; 
    color: #222222;
    text-align: center;
    font-family: 'Avenir LT Std';
    
}

.pic-description h3:hover{
    
    color: #000000;
}


.load-more-button{

    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    border-radius: 12px;
    padding: 16px 100px;
    margin-left: 420px;
    margin-top: 70px;
    border: #AFAFAF;

}

.load-more-button:hover{
    background-color: #D8D8D8;
}




.add-icon{
    opacity: 30%;
 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top:40px;
    z-index: 1;
}


.like-icon{
    opacity: 30%;

    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 80px;
    z-index: 1;
}


.add-icon:hover{
    opacity: 100%;
    width: 40px;
}

.like-icon:hover{
    opacity: 100%;
    width: 40px;
}

.add-icon2{
    opacity: 30%;
 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top:40px;
    left: 280px;
    z-index: 1;
}


.like-icon2{
    opacity: 30%;

    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 80px;
    left: 280px;
    z-index: 1;
}

.add-icon2:hover{
    opacity: 100%;
    width: 40px;
}

.like-icon2:hover{
    opacity: 100%;
    width: 40px;
}

.add-icon3{
    opacity: 30%;
 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top:40px;
    left: 570px;
    z-index: 1;
}


.like-icon3{
    opacity: 30%;

    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 80px;
    left: 570px;
    z-index: 1;
}

.add-icon3:hover{
    opacity: 100%;
    width: 40px;
}

.like-icon3:hover{
    opacity: 100%;
    width: 40px;
}

.add-icon4{
    opacity: 30%;
 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 40px;;
    left: 850px;
    z-index: 1;
}


.like-icon4{
    opacity: 30%;

    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 80px;
    left: 850px;
    z-index: 1;
}

.add-icon4:hover{
    opacity: 100%;
    width: 40px;
}

.like-icon4:hover{
    opacity: 100%;
    width: 40px;
}

.add-icon5{
    opacity: 30%;
 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top:350px;
    left: 5px;
    z-index: 1;
}


.like-icon5{
    opacity: 30%;

    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 390px;
    left: 5px;
    z-index: 1;
}

.add-icon5:hover{
    opacity: 100%;
    width: 40px;
}

.like-icon5:hover{
    opacity: 100%;
    width: 40px;
}

.add-icon6{
    opacity: 30%;
 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top:350px;
    left: 290px;
    z-index: 1;
}


.like-icon6{
    opacity: 30%;

    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 390px;
    left: 290px;
    z-index: 1;
}

.add-icon6:hover{
    opacity: 100%;
    width: 40px;
}

.like-icon6:hover{
    opacity: 100%;
    width: 40px;
}

.add-icon7{
    opacity: 30%;
 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top:350px;
    left: 570px;
    z-index: 1;
}


.like-icon7{
    opacity: 30%;

    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 390px;
    left: 570px;
    z-index: 1;
}

.add-icon7:hover{
    opacity: 100%;
    width: 40px;
}

.like-icon7:hover{
    opacity: 100%;
    width: 40px;
}

.add-icon8{
    opacity: 30%;
 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top:350px;
    left: 850px;
    z-index: 1;
}


.like-icon8{
    opacity: 30%;

    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px;
    position: absolute;
    top: 390px;
    left: 850px;
    z-index: 1;
}

.add-icon8:hover{
    opacity: 100%;
    width: 40px;
}

.like-icon8:hover{
    opacity: 100%;
    width: 40px;
}




/* top designers section */
.grey-block{
   
    width: 100%;
    background-color: #FAFAFA;
    height: 500px;
   
}

.designers-list{
    padding-top: 67px;
}
    


.designers-list h3{
    font-size: 32px;
    line-height: 43px;
    color: #222222;
    font-family: 'Avenir LT Std';
   
}

.about-designer-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    margin-right: 5px;

    
}

.about-designer-box img{
    width: 132px ;
    
}

.about-designer-box img:hover{
    width: 140px ;
    
}

.about-designer-box h4{
    font-size: 16px;
    line-height: 21px;
    color: #222222;
    margin-top: 15px;
    font-family: 'Avenir LT Std';
    

}

.about-designer-box span{
    font-size: 12px;
    line-height: 16px;
    color: #222222;
    opacity: 60%;
    margin-top: 10px;
    margin-bottom: 17px;
    font-family: 'Avenir LT Std';

}

.follow-button{
    font-size: 14px;
    line-height: 19px;
    width: 132px ;
    border-radius: 12px;
    padding: 12px 33px;
    background-color: #F2F2F2;
    border: 1px solid #D8D8D8;
}

.following-button{
    font-size: 14px;
    line-height: 19px;
    width: 132px ;
    border-radius: 12px;
    padding: 12px 33px;
    background-color: #D8D8D8;
    border: 1px solid #F2F2F2;
    
}

.following-button:hover{
    background-color: #F2F2F2;

}

.follow-button:hover{
    background-color: #D8D8D8;

}


.designers-info-wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: -15px;

}


/* footer */

.footer-list{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
}


.footer-list li{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Mukta';
    
}


.footer-content-first a{
    text-decoration: none;
    color: #222222;

}


.footer-content-first a:hover{
    color: #000000;

}

.footer-box{
    display: flex;
    justify-content: space-between;
}

.footer-line{
    margin-bottom: 40px;
    margin-top: 40px;
}

.footer-logos{

    display: flex;
    justify-content: space-between;
    margin-top: 130px;

}

.logo{
    margin-right: 20px;
    
}

.logo:hover{
    background-color: #3c6acc;
    width: 30px;
    border-radius: 50px;
    
}

.insta-logo:hover{
    background-color: #cc3c9c;
    

}

.academy-text{
    font-size: 16px;
    line-height: 40px;
    color: #222222;
    font-family: 'Avenir LT Std';
}

.for-text{
    font-size: 16px;
    line-height: 40px;
    color: #222222;
    font-family: 'Mukta';
}

footer a{
    font-family: 'Mukta';
}




/*  sidebar  */


.sidebar{
    
    height:1000px;
    width: 300px;
    background-color: #222222;
    
}

.burger-menu{
    margin-bottom: 130px;
    margin-left: 5px;
}

.burger-menu:hover{
    width: 20px;
}



.sidebar-item a{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    list-style: none;
    margin-left: 15px;
    font-family: 'Mukta';
}

.sidebar-item {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 54px;
   margin-left: 40px;
   
}
.design-today{
    margin-top: 42px;
    margin-bottom: 120px;
    margin-left: 15px;

}


.sidebar-item:hover{
    background-color: #FF2288;
    border-radius: 12px;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
   
}

.designer-box span{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Mukta';

}


.designer-box img{
    width: 44px;
    margin-right: 20px;

}

.designer-box img:hover{
    width: 50px;
 
}


.designer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 40px;
    
}

.designer-names h3{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    margin-left: 40px;
    margin-bottom: 30px;
    font-family: 'Mukta';
    
}

.designer-names{
    margin-top: 90px;
}

.designer-names a{
    margin-left: 40px;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    list-style: none;
    text-decoration: none;
    font-family: 'Mukta';
}

.designer-names a:hover{
    
    color: #a59b9b;

}


/* table html file header */

.person-icon{
    border: 1px solid #E7E7E7;
    border-radius: 50px;
    padding: 15px;

}

.person-icon:hover{
    background-color: #a59b9b;
  

}


/* table */

.phone-section{
    margin-left: 100px;
    margin-bottom: 250px;
}

table, td{
    border-bottom: 1px solid #E7E7E7;
    border-collapse: collapse;
   
}

td{
   padding: 20px;
}

.titles-box{
    font-size: 18px;
    line-height: 24px;
    color: #111111;
    font-family: 'Avenir LT Std';
   
}

.phones-list{
    font-size: 16px;
    line-height: 21px;
    color: #AFAFAF;
    font-family: 'Mukta';
    
}

.phones-list:hover{
    color: #222222;
    background-color: #F2F2F2;
    border-radius: 12px;
 
}

.phones-list-pink{
    font-size: 16px;
    line-height: 21px;
    color: #FF2288;
    font-family: 'Mukta';

}

.phones-list-pink:hover{
    color: #222222;
    background-color: #F2F2F2;
    border-radius: 12px;
}



/* footer */
.footer-box-second-page{
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
}